body
{
    height: 100%;
    margin: 0;
}

section
{
    height: 100vh;
}

.page-selection
{
    padding: 10px;
    padding-right: 30px;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 2;
}

.menu-selection
{
    border-left: solid;
    border-radius: 5px;
    padding: 10px;
    padding-right: 30px;
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 5;
}

.center
{
    text-align: center;
    padding: 20px;
}

.nonTopMargin
{
    margin-top: 0;
}


a
{
    color: black;
    text-decoration: none !important;
    line-height: 200%;
}

.section_text
{
    display: none;
    margin-left: 50px;
    margin-top: 250px;
    text-align: left;
}

.section_text_decorate
{
    float: right;
    width: 60%;
    height: 100%;
}

.section_text_back
{
    height: 100%;
    background-color: white;
}

.inside_mobile
{
    /*background-color: whitesmoke;*/
    width: 267px; height: 475px;
    display: none;
    padding:5px;
}
